<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="GasilciClanarineImporter.Properties.Settings.PGD_ZAGRADEC_CLANARINE_CONNECTION_STRING"
         connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;E:\Program Files (x86)\ZBS\IzpisUPN\Paketi\PGD ZAGRADEC CLANARINE.dat&quot;"
         providerName="System.Data.OleDb" />
    <add name="FeeStatusesDBContext"
         connectionString="metadata=res://*/Model.FeeStatusesDBModel.csdl|res://*/Model.FeeStatusesDBModel.ssdl|res://*/Model.FeeStatusesDBModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\Data\FeeStatuses.sdf&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- START - FireDept info -->
    <add key="NazivDrustva" value="PGD ZAGRADEC PRI GROSUPLJEM, ZAGRADEC PRI GROSUPLJEM 33, 1290 GROSUPLJE" />
    <add key="IBANPrejemnika" value="SI56020220013530684" />
    <add key="BICBanke" value="LJBASI2X" />
    <!-- END - FireDept info -->
    
    <!-- START - Payment fee info -->
    <add key="Dolzni_Clani" value="true" />
    <add key="Dolzni_Clanice" value="true" />

    <add key="Obdobje_Clani_Od" value="19" />
    <add key="Obdobje_Clani_Do" value="63" />
    <add key="Znesek_Clani" value="10" />

    <add key="Obdobje_Clanice_Od" value="19" />
    <add key="Obdobje_Clanice_Do" value="55" />
    <add key="Znesek_Clanice" value="5" />
    <!-- END - Payment fee info -->

    <!-- START - Print offsets -->
    <add key="Laser_XOffset" value="-4.2" />
    <add key="Laser_YOffset" value="-3" />
    <add key="Endless_XOffset" value="-4.8" />
    <add key="Endless_YOffset" value="-3.5" />
    <!-- END - Print offsets -->
    
    <!-- START - Debts -->
    <add key="DebtsTemplate" value="./ReportTemplates/debtorsListReportTemplate.txt" />
    <!-- END - Debts -->
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
             type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
             type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>